#dashboard {
  width: 80%;
  background-color: #f9f9f9;
  padding: var(--m-padding);
  margin: auto;
}

#dashboard .overall-info {
  background: #fff;
  height: 150px;
}

#dashboard .over-all-review {
  background: #ffff;
  min-height: 250px;
  border: 1.3px solid #ccc;
  padding: var(--s-padding);
}

#dashboard .overall-info div {
  position: relative;
  height: 60%;
  line-height: 60px;
}

#dashboard .over-all-review a {
  margin-bottom: var(--m-margin);
  font-size: 18px;
}

#dashboard .overall-info b {
  font-size: 50px;
  position: absolute;
  right: 25px;
  bottom: 4px;
  background: #33333352;
  height: 51px;
  width: 51px;
  line-height: 51px;
  border-radius: 50%;
  text-align: center;
  transition: 2s;
}

.ql-editor {
  min-height: 200px;
  background: #fff;
}

.form {
  margin: auto;
  padding: 10px 0;
}

.form_inputs {
  width: 55%;
  margin: 0 auto;
  padding: var(--m-padding);
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  margin-bottom: 1.5rem;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid;
  border-radius: 0.25rem;
  background-color: #f9f9f9;
  border-color: #d8dbe0;
}

.form input, .form textarea, .form select {
  display: block;
  width: 100%;
  height: 45px;
  margin: auto;
  margin-bottom: 10px;
  border-radius: var(--s-radius);
  border: 0;
  background: #fff;
  border: 1.2px solid #ccc;
  padding: 0 var(--m-padding);
}

.form input[type="checkbox"]{
  width: unset;
  height: unset;
  display: unset;
}
.form .required-input {
  border-color: red;
}

.content {
  background: #f9f9f9;
  box-shadow: var(--shadow);
  padding: var(--m-padding);
}