@import url(//cdn.rawgit.com/rtaibah/dubai-font-cdn/master/dubai-font.css);
* {
  padding: 0;
  margin: 0;
  font-family: 'Cairo', sans-serif;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Cairo', sans-serif;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
  font-display: swap;
}

body {
  background-color: #fff;
  /* overflow: hidden;
  overflow-x: hidden; */
}

html {
  /* overflow: hidden; */
  overflow-x: hidden;
  -webkit-transition: background-color 1.2s cubic-bezier(.55, 0, .1, 1);
  transition: background-color 1.2s cubic-bezier(.55, 0, .1, 1);
}

body main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* transition: opacity .6s cubic-bezier(.55,0,.1,1),transform .6s cubic-bezier(.55,0,.1,1),filter .6s cubic-bezier(.55,0,.1,1),-webkit-transform .6s cubic-bezier(.55,0,.1,1),-webkit-filter .6s cubic-bezier(.55,0,.1,1);
  will-change: opacity,transform,filter; */
}

/* input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #333 inset;
  box-shadow: 0 0 0 30px #333 inset;
} */

input {
  color: blue;
  background: transparent;
}

/* input::placeholder {
  opacity: 1;
  color: red;
} */

@keyframes autofill {
  to {
    color: blue;
    background: transparent;
  }
}

input:-webkit-autofill {
  animation-name: autofill;
  animation-fill-mode: both;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:visited {
  color: inherit;
  text-decoration: none
}

/* Scrollbar Styling */

::-webkit-scrollbar {
  width: 10px;
  height: 0;
}

::-webkit-scrollbar-track {
  background-color: #fff;
  width: 5px;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background: #eee;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #333;
}

select:focus {
  outline: 0;
}

ul {
  list-style: none;
}

.router-link-active {
  color: red;
}
.hljs-built_in{
  color: #33a216 !important;
}

.hljs-number{
  color: #afff72 !important
  
}
.hljs-string{
  color: #d29100 !important;
}
.hljs-title {
  color: #fcff5b !important;
  font-weight: unset !important;
}

/* .slide-enter-active,
.slide-leave-active
 {
  transition: transform 3s ease-in-out;
}
.slide-enter {
  transform: translateX(70%);
}
.slide-leave-to {
  transform: translateX(-70%);

} */

/* .fade-enter-to, .fade-leave {
  transform: translateX(0);
} */

.transition-fade {
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1), filter 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1), filter 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 0.6s cubic-bezier(0.55, 0, 0.1, 1), -webkit-filter 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  opacity: 1;
}

.columns {
  /* position: absolute; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  height: 100vh;
  transition: opacity 1s cubic-bezier(0.55, 0, 0.1, 1), left .3s linear, right .3s linear;
  opacity: 0;
}

/* body.portal-pane--show .login-portal-pane, body.portal-pane--show main {
  -webkit-transform: translateX(-33.32vw);
  transform: translateX(-33.32vw);
} */


body.search-pane--show .search-pane {
  opacity: 1;
  pointer-events: auto;
}

.column {
  position: absolute !important;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  padding: var(--m-padding);
  /* margin-right: 4px; */
  height: 100%;
  width: auto !important;
  /* min-height: 100vh; */
  transition: opacity 2.6s cubic-bezier(0.55, 0, 0.1, 1), filter 1.4s cubic-bezier(0.55, 0, 0.1, 1);
  /* left .1s cubic-bezier(0.55, 0, 0.1, 1),
  right .1s cubic-bezier(0.55, 0, 0.1, 1); */
  will-change: opacity, filter;
}
.column.loading{
  overflow: hidden !important;
}
.columns .column[data-column="one"] .logo,
.columns .column[data-column="two"] .logo{
  display: none;
}
.items {
  display: grid;
  grid-gap: var(--m-margin);
}

.column[data-size="1"] .items {
  grid-template-columns: 1fr;
}

.column[data-size="2"] .items {
  grid-template-columns: repeat(2, 1fr);
}

.column[data-size="3"] .items {
  grid-template-columns: repeat(3, 1fr);
}

.column[data-size="0"] {
  overflow: hidden !important;
}
.column[data-size="0"] .filters__toggle{
  display: none;
}
.column[data-blur="true"] {
  filter: blur(3px);
}

.column[data-blur="true"]:hover {
  filter: blur(0px) !important;
}

.column[data-column="one"] {
  left: 0;
  right: 66.66%;
}

.column[data-column="two"] {
  left: 33.33%;
  right: 33.33%;
}

.column[data-column="three"] {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  left: 66.66%;
  right: 0;
}

.column-head {
  margin-bottom: 10vh;
  padding: var(--m-padding);
}

.items .items__title span {
  display: inline;
  position: relative;
  background-image: -webkit-gradient( linear, left top, left bottom, from(#000), to(#000));
  background-image: linear-gradient(#000, #000);
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0 1px;
  -webkit-transition: background-size 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: background-size 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}

.items__item {
  display: block;
  width: 100%;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
  cursor: url(../icons/tapp.png) 33 0, pointer;
  z-index: 0;
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  padding: var(--m-padding);
  margin-bottom: var(--s-margin);
  /* box-shadow: var(--shadow2); */
  border: 1.4px solid #eee;
}

.items__item .items__item-image img {
  width: 90%;
  min-height: 160px;
}

.items__item img, .items__item video {
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  will-change: opacity;
}


.items__item .items__item-image {
  line-height: 0;
  margin-bottom: 15px;
  background-color: #fff;
  min-height: 150px;
  max-height: 350px;
  overflow: hidden;
  align-items: flex-start !important;
}

.items__item .items__item-date {
  margin: 10px 0;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.2px;
  font-weight: 700;
  text-transform: uppercase;
}

.items .items__item-title span {
  display: inline;
  position: relative;
  background-image: -webkit-gradient( linear, left top, left bottom, from(#333), to(#333));
  background-image: linear-gradient(var(--main-color), var(--main-color));
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0 1px;
  transition: background-size 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  font-size: 24px;
  line-height: 32px;
}

.items__title span {
  display: inline;
  margin: 0 5px;
  cursor: pointer;
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--main-color)), to(var(--main-color)));
  background-image: linear-gradient(var(--main-color), var(--main-color));
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0 1px;
  -webkit-transition: background-size .6s cubic-bezier(.55, 0, .1, 1);
  transition: background-size .6s cubic-bezier(.55, 0, .1, 1);
}

.items__item:hover .items__item-title span {
  background-size: 100% 1px;
}

.items__title span:hover {
  background-size: 100% 1px;
}

.columns .enlarge {
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 10;
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), background-color 0.6s cubic-bezier(0.55, 0, 0.1, 1), color 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  pointer-events: none;
}

.column[data-column="one"] .enlarge {
  left: 16px;
  right: auto;
  transform-origin: 0 50%;
  transform: rotate(-90deg) translate(-50%, 16px);
}

.column[data-column="two"] .enlarge {
  left: auto;
  right: 16px;
  transform-origin: 100% 50%;
  transform: rotate(-90deg) translate(50%, -16px);
}

.column[data-column="three"] .enlarge {
  left: auto;
  right: 30px;
  transform-origin: 100% 50%;
  transform: rotate(-90deg) translate(50%, -16px);
}

.button-pill {
  cursor: pointer;
  display: inline-block;
  font-size: 14px !important;
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 5px 10px 4px;
  transition: color 0.6s cubic-bezier(0.55, 0, 0.1, 1), background-color 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}

.button-pill.button-pill--icon {
  position: relative;
  top: 1px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  padding: 0;
  text-align: center;
  background-color: #fff;
}

a.button-pill.active, a.button-pill:hover {
  color: #fff;
  background-color: var(--main-color);
}

.rails .rail {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 5px;
  transform: translateX(-2px);
  /* cursor: url("~@/assets/images/resizecurosr.png"); */
  /* cursor: url('~@/assets/images/bar.png'), auto; */
  /* cursor: e-resize; */
  cursor: url(https://i.ibb.co/5jyfwh3/cursor.png) 33 0, e-resize;
  /* transition: left .1s linear,
  right .1s linear; */
}

.rails .rail::after {
  content: "";
  position: absolute;
  left: 50%;
  /* right: 0; */
  top: 0;
  /* bottom: 0; */
  transform: translate(-50%, 0);
  width: 1px;
  height: 100%;
  z-index: 9999999;
  background-color: #000;
}

.rails [data-rail="one"] {
  left: 33.33%;
}

.rails [data-rail="two"] {
  left: 66.66%;
}

.column[data-size="0"] .items__filters, .column[data-size="0"] .items__item, .column[data-size="0"] .items__title {
  opacity: 0;
  pointer-events: none;
}

.column[data-column="three"][data-size="0"] .footer-meta, .column[data-column="three"][data-size="0"] .information__buttons, .column[data-column="three"][data-size="0"] .information__text, .column[data-column="three"][data-size="0"] .information__title {
  opacity: 0;
  pointer-events: none;
}

.column[data-size="0"] .enlarge {
  opacity: 1;
  pointer-events: auto;
}

.button-extend .button-extend__text-wrapper {
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-width 0.8s cubic-bezier(0.55, 0, 0.1, 1), opacity 0.8s cubic-bezier(0.55, 0, 0.1, 1);
  will-change: max-width, opacity;
}

.information__buttons .button-extend {
  margin-bottom: 8px;
  background-color: #fff;
}

.button-extend {
  display: inline-flex;
  justify-content: center;
  background-color: transparent;
  border: 1.5px solid var(--main-color);
  border-radius: 29px;
  margin-bottom: var(--m-margin);
  cursor: pointer;
}

.button-extend.hover .button-extend__text-wrapper, .button-extend:hover .button-extend__text-wrapper {
  max-width: 155px;
  opacity: 1;
  background-color: var(-);
}

.button-extend .button-extend__icon {
  background-color: #fff;
  border-radius: 50px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 29px;
  height: 29px;
  line-height: 29px;
}

.button-extend .button-extend__text-wrapper .button-extend__text {
  padding: 0px 0px 0px 4px;
}

.button-pill.button-pill--small {
  font-size: 12px!important;
  padding: 0 8px;
  margin: 0 var(--s-margin);
}

/* .button-extend .button-extend__text-wrapper, .button-pill, .button-pill.button-pill--small, .type__button-label {
  font-size: 14px;
  line-height: 21px;
  margin: 0 var(--s-margin);
  cursor: pointer;
} */

.button-extend.button-extend--small .button-extend__icon {
  width: 21px;
  height: 21px;
}

.button-extend.button-extend--with-hover {
  -webkit-transition: color .6s cubic-bezier(.55, 0, .1, 1), background-color .6s cubic-bezier(.55, 0, .1, 1);
  transition: color .6s cubic-bezier(.55, 0, .1, 1), background-color .6s cubic-bezier(.55, 0, .1, 1);
}

.filters .filters__toggle .button-extend .icon-cross {
  width: 7px;
  height: 7px;
}

.items.items--show-filters .filters__toggle .icon-cross {
  position: relative;
  display: block!important;
}

.filters .filters__filters {
  z-index: 5;
  -webkit-transition: all .6s cubic-bezier(.55, 0, .1, 1);
  transition: all .6s cubic-bezier(.55, 0, .1, 1);
}

.filters .filters__toggle {
  position: absolute;
  top: 33px;
  right: 20px;
  line-height: 0;
  pointer-events: auto;
}

#single-post .meta__share {
  position: absolute;
  top: 172px;
  right: 16px;
  text-align: right;
  margin: var(--m-margin) 0;
}

.form_inputs {
  width: 65%;
  margin: 0 auto;
  padding: var(--m-padding);
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  margin-bottom: 1.5rem;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid;
  border-radius: 0.25rem;
  background-color: #fff;
  border-color: #d8dbe0;
}

.ql-editor {
  min-height: 250px !important;
}



.reload {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #151d30c2;
  width: 100%;
  height: 100vh;
  display: grid;
  justify-content: center;
  padding: var(--scnd-padding);
  align-items: flex-start;
  align-content: center;
  z-index: 999999;
}
.reload h1{
  color: #fff;
}
.reload p{
  color: var(--main-color);
}


@media (max-width: 900px) {
  .columns {
    position: absolute;
    height: unset;
    bottom: 70px;
  }
  .columns .column {
    left: 0!important;
    right: 0!important;
    background-color: #fff;
    border-right: 0;
    opacity: 0;
    -webkit-transition: opacity .6s cubic-bezier(.55, 0, .1, 1);
    transition: opacity .6s cubic-bezier(.55, 0, .1, 1);
  }
  .columns .column .logo{
    display: block !important;
  }
  .columns .column .items__title .fas{
    display: none !important;
  }
  .column.active {
    opacity: 1;
    z-index: 10;
  }
  .column.active .items {
    grid-template-columns: 1fr;
  }
  .column-head {
    margin-bottom: 0px;
    /* pointer-events: none; */
  }
  .rails {
    display: none;
  }
  #single-post {
    width: 100% !important;
    background-color: #fff;
    z-index: 9999;
  }

}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  #single-post .items__item-title {
    font-size: 16px !important;

  }
  .items__item-title {
    padding: var(--m-padding) !important;
  }
  #single-post .meta__share {
    position: unset;
    display: flex;
    justify-content: space-evenly;
  }
  .form_inputs {
    width: 100% !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {}